h1 {
	color:red;
	margin-left:2cm;
}
h2 {
	color:red;
	margin-left:4cm;
}
p {
	textindent:2cm;
	color:#8B0000;
	marginleft:6cm;
}
p {
	textindent:2cm;
	color:darkred;
	marginleft:6cm;
}

h2 {
	color:red;
	margin-left:4cm;
}
p  {
	textindent:2cm;
	color:darkred;
	margin-left:6cm;
}