h1 {
	color:moccasin; 
	font-weight:bold; 
	font-family:"Ariel"; 
	font-size:18.666667px;
}
h2 {
	color:khaki; 
	font-weight: normal; 
	font-family:"Ariel"; 
	font-size:18.666667px
}
p {
	color:khaki; 
	font-weight:normal; 
	font-family:"Ariel"; 
	font-size:16px
}
p1 {
	color:ivory; 
	font-weight:bold; 
	font-family:"Ariel"; 
	font-size:16px
} 
p2 {
	color:chocolate;
}
p3 {
	font-family:"Trebuchet MS"; 
	font-weight:bold; 
	color:gold; 
	margin-left:2cm; 
	margin-right: 2cm; 
	font-size:18.666667px;
}
p4 {
	font-family:"Trebuchet MS"; 
	font-weight:bold; 
	color:gold; 
	margin-left:4cm; 
	margin-right: 4cm; 
	font-style: italic; 
	font-size:18.666667px;
}